TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
SENDGRID_API_KEY=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
IMAGES_ACCESS_KEY_ID=AKIAW7SWJHFFAGYB5IY5
IMAGES_SECRET_ACCESS_KEY=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
IMAGES_REGION=us-east-1
IMAGES_BUCKET=avda-awsbucket